.container{
    margin-top: 10px;
    height: 430px;
    width: 260px;
    /* border: 1px solid black; */
    margin-bottom: 40px;
    margin-right: 33px;
    /* border: 1px solid black; */
}

.tag{
    position: relative;
    z-index: 10;
    top: 40px;
    left: 220px;
    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    background-color: rgb(228, 228, 230);
    height: 330px;
    width: 260px;
    cursor: pointer;
    /* border: 1px solid rgb(218, 218, 218); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image img{
    width: 100%;
    height: 100%;
}

.subcontainer{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px solid black; */
}

.info{
    display: flex;
    flex-direction: column;
}

.name{
    font-family: Helvetica, sans-serif;
    letter-spacing: -1px;
    font-stretch: condensed;
    font-weight: 500;
    width: fit-content;
    font-size: 18px;
    max-height: 20px;
    /* background-color: aqua; */
    cursor: pointer;
    border-bottom: 2px solid transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

.name a{
    color:  black;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.catogery{
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    border-bottom: 1.5px solid transparent;
}

.catogery:hover, .name:hover{
    border-bottom: 1.5px solid rgb(91, 91, 91);
}
.prices{
    margin-top: 5px;
    font-size: 20px;
    display: flex;
}

.cut{
    margin-right: 10px;
    text-decoration: line-through;
}

.button{
    font-size: 35px;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

