.container{
    margin-top: 50px;
    margin-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 37%;
}

.item{
    font-size: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    padding-bottom: 5px;
}

.item:active{
    color: rgb(88, 88, 88);
    border-bottom: 2px solid rgb(70, 69, 69);
}

.line{
    height: 1px;
    background-color: rgb(205, 205, 205);
}
.itemDetails{
    margin-top: 20px;
}