.container{
    top: 0%;
    max-width: 100%;
    display: flex;
    background-color: rgb(175, 4, 4);
    background: transparent;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
    border-bottom: 1.5px solid rgb(235, 235, 235);
}
.menu{
    margin: 2px 10px;
    display: flex;
}

.submenu{
    /* visibility: hidden; */
    position: absolute;
    top: 54px;
    left: 299px;
    z-index: 10;
    padding: 0px 20px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 31px;
    background-color: rgb(247, 247, 247);

}

.submenu li{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    /* border: 1px solid black; */
}
.menulogo{
    display: flex;
}
.links:hover{
    background-color: rgb(247, 247, 247);
    /* color: rgb(235, 25, 25); */
}
.menu a, .subMenuContainer{
    text-decoration: none;
    margin: 2px 0px;
    color: black;
    font-size: 16px;
    padding: 5px 15px;
    font-family: roboto condensed, sans-serif;
    cursor: pointer;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto 0px;
    padding: auto 0px; 
}
.logo a{
    text-decoration: none;
    margin: 2px 50px;
    color: rgb(31, 30, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.button{
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0px 10px;
    color: rgb(20, 19, 19);
    font-size: 16px;
    font-family: roboto condensed, sans-serif;
}

.button:hover, .menu a:hover, .logo a:hover{
    color: rgb(28, 22, 22);
    cursor: pointer;
}
.right{
    display: flex;
}
