.container{
    top: 0%;
    /* position: absolute; */
    max-width: 100%;
    display: flex;
    background-color: white;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
    border-bottom: 1.5px solid rgb(235, 235, 235);
}
.menu{
    margin: auto 10px;
}
.menulogo{
    display: flex;
}
.menu a{
    text-decoration: none;
    margin: 2px 15px;
    color: black;
    font-size: 16px;
    font-family: roboto condensed, sans-serif;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
    margin: auto 0px;
    padding: auto 0px; 
}
.logo a{
    text-decoration: none;
    margin: 2px 50px;
    color: rgb(31, 30, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.button{
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 7px 20px;
    margin: 0px 10px;
    color: rgb(20, 19, 19);
    font-size: 16px;
    font-family: roboto condensed, sans-serif;
}

.button:hover, .menu a:hover, .logo a:hover{
    color: rgb(28, 22, 22);
    cursor: pointer;
}
.right{
    display: flex;
}